<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="stylesheet" href="/ProjectJPA2/config/styles/stylesCrUser.css"> -->

</head>

<body>

	<div class="cuerpo">
		<div class="contenedor">


			<form (ngSubmit)="onSubmit()" #userForm="ngForm">
				<div class="container">
					<h1>Registrar contacto:</h1>
					<hr>

					<!-- <input id="numerosD" type="number" 
					[(ngModel)]="telefono.codigo" placeholder="Ingresar id" name="numerotxt"  required> -->

					

					<label for="tipo"><b>Nombre</b></label>
					<div class="container mt-3">
						<select name="tip" [(ngModel)]="telefono.usuario" id="seleccion" class="custom-select mb-3">
							<option selected>Seleccionar</option>
							<option *ngFor="let user of users" [ngValue]="user" >{{ user.nombre }} {{ user.apellido }}</option>
						</select>
					</div>

					<label for="tipo"><b>Tipo</b></label>
					
					<div class="container mt-3">
						<select [(ngModel)]="telefono.tipo" name="tip" id="seleccion" class="custom-select mb-3">
							<option selected>Seleccionar</option>
							<option value="Fijo">Fijo</option>
							<option value="Movil">Movil</option>
						</select>
					</div>


					<label for="numero"><b>Numero</b></label> <input id="numerosID" type="text"
					[(ngModel)]="telefono.numero" placeholder="Ingresar el numero" name="numerotxt" required>


					<label for="operadora"><b>Operadora</b></label> 

					<div class="container mt-3">
						<select [(ngModel)]="telefono.operadora" name="tip" id="seleccion" class="custom-select mb-3">
							<option selected>Seleccionar</option>
							<option value="Movistar">Movistar</option>
							<option value="Tuenti">Tuenti</option>
							<option value="Cnt">Cnt</option>
							<option value="Claro">Claro</option>
							<option value="Etapa">Etapa</option>
						</select>
					</div>




					<hr>

					<button type="submit" [disabled]="!userForm.form.valid" value="registrarTelf" name="registrartelf"
						class="registerbtn">Registrar</button>
				</div>

			</form>




		</div>

	</div>

</body>

</html>